<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"]</title>

	@await Html.PartialAsync("./Libraries/AdminLibraries/Styles")
</head>
<body class="main-body leftmenu ltr light-theme dark-menu">

	<!-- Loader -->
	<div id="global-loader">
		<img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
	</div>

	<div class="page">
		<!-- Header-->
		@await Html.PartialAsync("./Components/AdminComponents/Header")
		<!-- Sidemenu -->
		@await Html.PartialAsync("./Components/AdminComponents/Sidebar")

		@RenderBody()
	</div>

	<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

@await Html.PartialAsync("./Libraries/AdminLibraries/Scripts")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>