<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @await Html.PartialAsync("./Libraries/AdminLibraries/Styles");

</head>
<body class="main-body leftmenu ltr light-theme">

    <!-- Loader -->
    <div id="global-loader">
        <img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>

    @RenderBody()

@await Html.PartialAsync("./Libraries/AdminLibraries/Scripts");
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>